.cycleCotainer{
    background-color: #2D6D2C;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cycleCotainer p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 2% 3%;
}

.cycleCotainer h1{
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #E3BC26;
}

.cycleOficinasContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.cycleOficinasDeck{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

.cycleCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    width: 45%;
    padding: 10px;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    border-radius: 12px;

}

.cardDeckLinks{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cardDeckLinks a{
    display: flex;
    justify-content: space-evenly;
    background: #2D6D2C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    border-radius: 10px;
    width: 120px;
    padding: 15px;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 700;
    transition: 200ms;
}

.cardDeckLinks a:hover{
    background-color: #DCBD3E;
    color: #FFFFFF;
}

#cycleCardTitle{
    height: 120px;
}

.cardDeckLinks p{
    font-size: 15px !important;
    width: fit-content;
    margin-bottom: 0px;
    color: white !important;
}

.cycleCard img{
    border: 1px solid gray;
    width: 280px;
    height: 160px;
}

.cycleCard p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color:#2D6D2C;
}

#linkYtb{
    width: 40px;
    height: 20px;
    border: none;
}

#linkMiro{
    width: 40px;
    height: 20px;
    border: none;
}

#linkPDF{
    width: 20px;
    height: 25px;
    border: none;
}

#cycleHR {
    border-top: 1px dotted red;
  }


@media screen and (min-width: 320px) and (max-width:800px) {
    #cycleCardTitle{
        height: fit-content;
    }
    .cycleCard{
        background-color: white;
        border-radius: 10px;
        width: 100%;
    }
    .cycleCotainer h1{
        font-size: 60px;
    }
    
    .cycleOficinasDeck{
        background-color:#2D6D2C;
    }
}


@media screen and (min-width: 320px) and (max-width: 450px) {
    .cardDeckLinks a{
        width: 92px;
        padding: 12px;
    }
    #linkYtb{
        width: 35px;
        height: 20px;
        border: none;
    }
    
    #linkMiro{
        width: 30px;
        height: 20px;
        border: none;
    }
    
    #linkPDF{
        width: 20px;
        height: 25px;
        border: none;
    }

}

@media screen and (min-width: 451px) and (max-width: 799px) {
    .cardDeckLinks a{
        width: 110px;
        padding: 12px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .cardDeckLinks a{
        width: 95px;
        padding: 10px;
    }
}



