.cycleCotainer{
    background: #000E8E;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cycleCotainer p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 2% 3%;
}

.cycleCotainer h1{
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #E3BC26;
}

.cycleOficinasContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    align-items: center;
}

.cycleOficinasContainer h1{
    font-family: 'Scada';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF; 
    margin-top: 20px;  
}

.cycleOficinasDeck{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.cycleCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    width: 45%;
    padding: 10px;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cardDeckLinks{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cardDeckLinks a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E3BC26;
    border-radius: 10px;
    width: 25%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 700;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    color: #000E8E;
}

#cycleCardTitle{
    height: 120px;
}

.cardDeckLinks p{
    font-size: 20px;
    width: fit-content;
    margin-bottom: 0px;
}

.cycleCard img{
    border: 1px solid gray;
    width: 280px;
    height: 160px;
}

.cycleCard p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000E8E;
}


@media screen and (min-width: 320px) and (max-width:520px) {
    .cardDeckLinks a{
        padding: 10px;
        width: 30%;
    }
    #linkYtb{
        width: 50px;
        height: 30px;
        border: none;
    }
    
    #linkMiro{
        width: 50px;
        height: 30px;
        border: none;
    }
    
    #linkPDF{
        width: 40px;
        height: 30px;
        border: none;
    }
}

@media screen and (min-width: 520px) and (max-width: 670px) {
    #linkYtb{
        width: 60%;
        height: 40px;
        border: none;
    }
    
    #linkMiro{
        width: 80%;
        height: 40px;
        border: none;
    }
    
    #linkPDF{
        width: 50%;
        height: 40px;
        border: none;
    }
}

@media screen and (min-width: 671px) and (max-width: 800px) {

    #linkYtb{
        width: 50%;
        height: 40px;
        border: none;
    }
    
    #linkMiro{
        width: 60%;
        height: 40px;
        border: none;
    }
    
    #linkPDF{
        width: 35%;
        height: 40px;
        border: none;
    }
}


@media screen and (min-width: 801px) and (max-width: 1000px) {
    .cardDeckLinks a{
        width: 30%;
    }
    #linkYtb{
        width: 80%;
        height: 40px;
        border: none;
    }
    
    #linkMiro{
        width: 70%;
        height: 40px;
        border: none;
    }
    
    #linkPDF{
        width: 60%;
        height: 40px;
        border: none;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1600px) {
    .cardDeckLinks a{
        padding: 1%;
        width: 22%;
    }
   
    #linkYtb{
        width: 45px;
        height: 30px;
        border: none;
    }
    
    #linkMiro{
        width: 50px;
        height: 30px;
        border: none;
    }
    
    #linkPDF{
        width: 40px;
        height: 30px;
        border: none;
    }
}

@media screen and (min-width: 1600px) and (max-width: 4000px) {
    .cardDeckLinks a{
        padding: 1%;
        width: 15%;
    }
   
    #linkYtb{
        width: 60px;
        height: 40px;
        border: none;
    }
    
    #linkMiro{
        width: 70px;
        height: 40px;
        border: none;
    }
    
    #linkPDF{
        width: 50px;
        height: 40px;
        border: none;
    }
}

@media screen and (min-width: 320px) and (max-width:360px) {
    #cycleDrive{
        font-size: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width:800px) {
    #cycleCardTitle{
        height: fit-content;
    }
    .cycleCotainer p{
        margin-top: 10px;
        font-size: 18px;
    }
    .cycleCard{
        background-color: white;
        border-radius: 10px;
        width: 100%;
    }
    .cycleOficinasContainer{
        background-color: #000E8E;
    }
    .cycleCotainer h1{
        font-size: 60px;
    }
}
