.postCarouselItem{
    width:100%;
    height: 550px;
}

.newCardDeck{
    display: flex;
    justify-content: space-between;
}

.postCarousel{
    display: flex;
    justify-content: center;
}

.newCard{
    display: flex;
    width: 45%;
    padding: 20px;
    height: 450px;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 20px 0px 20px 0px;
}

.newCard p{
    font-family: 'Lato';
    font-size: 15px;
}

.newCard h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}


#buttonGreenSmall{
    width: fit-content;
    padding: 8px 20px;
    text-align: center;
    background: #2D6D2C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    transition: 200ms;
}

#buttonGreenSmall:hover{
    background-color: #DCBD3E;
    color: #FFFFFF;
}

.postCarouselMobile{
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .postCarouselItem{
        height: 780px;
    }
    .newCard h2{ 
        font-size:18px;
    }
    .newCard p{ 
        font-size: 14px;
    }
    .newCard{ 
        height: 680px;
    }
}


@media screen and (min-width: 320px) and (max-width: 900px){
    .postCarouselMobile{
        display: block;
    }
    .postCarouselDesktop{
        display: none;
    }

    .postContainer h1{
        font-size: 40px;
    }

    .postContainer h2{
        font-size: 23px;
    }
    


    .newCard{
        width: 100%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .postCarouselMobile{
        display: block;
    }
    .postCarouselDesktop{
        display: none;
    }

    
    .newCard{
        width: 100%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1800px) {
    .postCarouselItem{
        height: 700px;
    }
    
    .newCard{ 
        height: 550px;
    }
}



